@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para mover el logo de Spline hacia la derecha y arriba */
canvas {
  transform: translate(clamp(80px, 12vw, 200px), clamp(-150px, -12vh, -50px));
  position: relative;
  top: clamp(-80px, -6vh, -30px);
  left: clamp(150px, 20vw, 500px);
}
